.events-container {

  padding: 30px;
}

.events-container h1 {

  margin-bottom: 20px;
}

/* Search Box */

.search-box {

  padding: 10px;

  width: 250px;

  border-radius: 5px;

  border: 1px solid #ccc;

  margin-bottom: 30px;

  font-size: 16px;
}

/* Event Grid */

.event-grid {

  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(300px, 1fr));

  gap: 20px;
}

/* Event Card */

.event-card {

  border: 1px solid #ddd;

  border-radius: 10px;

  padding: 20px;

  background-color: white;

  box-shadow:
    0px 2px 8px rgba(0,0,0,0.1);
}

.event-card h2 {

  margin-bottom: 10px;
}

/* Add Event Button */

.admin-btn {

  padding: 10px 20px;

  background-color: green;

  color: white;

  border: none;

  border-radius: 5px;

  cursor: pointer;

  margin-right: 20px;

  margin-bottom: 20px;
}

.admin-btn:hover {

  background-color: darkgreen;
}

/* Admin Buttons */

.admin-buttons {

  display: flex;

  gap: 10px;

  margin-top: 15px;
}

.admin-buttons button {

  padding: 10px 15px;

  border: none;

  border-radius: 5px;

  cursor: pointer;

  color: white;
}

/* Update Event Button */

.admin-buttons button:first-child {

  background-color: #007bff;
}

/* Delete Event Button */

.admin-buttons button:last-child {

  background-color: #dc3545;
}

/* Event Form */

.event-form {

  display: flex;

  flex-direction: column;

  gap: 10px;

  margin-bottom: 30px;

  max-width: 400px;
}

.event-form input {

  padding: 10px;

  border: 1px solid #ccc;

  border-radius: 5px;
}

.event-form button {

  padding: 10px;

  background-color: green;

  color: white;

  border: none;

  border-radius: 5px;

  cursor: pointer;
}

/* Book Seats Button */

.book-btn {

  background-color: green;

  color: white;

  border: none;

  padding: 10px 15px;

  border-radius: 5px;

  cursor: pointer;

  margin-top: 10px;
}

.book-btn:hover {

  background-color: darkgreen;
}

/* Booking Card */

.booking-card {

  border: 1px solid #ddd;

  border-radius: 10px;

  padding: 20px;

  margin-bottom: 20px;

  background-color: white;

  box-shadow:
    0px 2px 8px rgba(0,0,0,0.1);
}

.booking-card h3 {

  margin-top: 0;
}

/* Booking Actions */

.booking-actions {

  display: flex;

  gap: 10px;

  margin-top: 15px;
}

/* Update Booking Button */

.update-btn {

  background-color: #007bff;

  color: white;

  border: none;

  padding: 10px 15px;

  border-radius: 5px;

  cursor: pointer;
}

.update-btn:hover {

  background-color: #0056b3;
}

/* Delete Booking Button */

.delete-btn {

  background-color: #dc3545;

  color: white;

  border: none;

  padding: 10px 15px;

  border-radius: 5px;

  cursor: pointer;
}

.delete-btn:hover {

  background-color: #b02a37;
}

/* Searching event by id */
.no-events {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.no-events h3 {
  color: red;
}

.no-events p {
  color: #555;
}