.hero-container {
   min-height: 100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.hero-overlay{
    text-align: center;
    color: white;
    background-color:transparent;
    
}

.hero-title{
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight:bold;

}

.hero-text{
    font-size: 1.5rem;
    margin-bottom: 12px;

}

.register-btn{
   margin-top: 25px;
   padding: 14px 32px;
   background-color: #2563eb;
   color: white;
   border: none;
   border-radius: 8px;
   font-size: 18px;
   font-weight: 600;
   cursor: pointer;
}

.register-btn:hover{
    background-color: #1d4ed8;
}