@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body{
  font-family: "Times New Roman", 'Times New Roman', Times, serif;
}



html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease;
}